<section class="hero is-small is-warning">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">Forms</h2>
      <h1 class="title">
        Contact Form
      </h1>
    </div>
  </div>
</section>

<section class="section">

  <div class="container">
    <div class="field">
      <label for="text_1" class="label">Text 1*</label>
      <div class="control">
        <input id="text_1" type="text" class="input required" placeholder="Text 1 Placeholder" required>
      </div>
    </div>

    <div class="field">
      <label for="text_2" class="label">Text 2</label>
      <div class="control">
        <input id="text_2" type="text" class="input" placeholder="Text 2 Placeholder">
      </div>
    </div>

    <div class="field">
      <label for="textarea_1" class="label">Textarea 1</label>
      <div class="control">
        <textarea id="textarea_1" class="textarea" placeholder="Textarea 1 Placeholder"></textarea>
      </div>
    </div>

    <div class="field">
      <label for="textarea_2" class="label">Textarea 2</label>
      <div class="control">
        <textarea id="textarea_2" class="textarea" placeholder="Textarea 2 Placeholder"></textarea>
      </div>
    </div>

    <div class="field">
      <label for="select_to_text" class="label">Select to Text*</label>
      <p>This displays as a Select Form Element, though for simplicity the data is saved as Text.</p>
      <div class="control">
        <div class="select">
          <select id="select_to_text" required class="required">
            <option value="">Select</option>
            <option>Any Arbitrary Option 1</option>
            <option>Any Arbitrary Option 2</option>
            <option>Any Arbitrary Option 3</option>
            <option>Any Arbitrary Option 4</option>
            <option>Any Arbitrary Option 5</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label for="select_to_text_2" class="label">Select to Text 2</label>
      <p>This displays as another Select Form Element, though for simplicity the data is saved as Text.</p>
      <div class="control">
        <div class="select">
          <select id="select_to_text_2">
            <option value="">Select</option>
            <option>Another Arbitrary Option 1</option>
            <option>Another Arbitrary Option 2</option>
            <option>Another Arbitrary Option 3</option>
            <option>Another Arbitrary Option 4</option>
            <option>Another Arbitrary Option 5</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label for="select_to_select" class="label">Select to Select</label>
      <p>This displays as a Select Form Element, and saves the data as a select option. The select options must match the spelling, spacing, as it is set up in the collection.</p>
      <div class="control">
        <div class="select">
          <select id="select_to_select">
            <option value="">Select</option>
            <option>Select 1</option>
            <option>Select 2</option>
            <option>Select 3</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label for="select_to_select_2" class="label">Select to Select 2</label>
      <p>This displays as another Select Form Element, and saves the data as a select option. The select options must match the spelling, spacing, as it is set up in the collection.</p>
      <div class="control">
        <div class="select">
          <select id="select_to_select_2">
            <option value="">Select</option>
            <option>Select 1</option>
            <option>Select 2</option>
            <option>Select 3</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field">
      <label for="" class="label">Radio to Text*</label>
      <p>This displays as Radio Button Options, though for simplicity the data is saved as Text.</p>
      <div class="control">
        <label class="radio">
          <input type="radio" name="radio_to_text" value="Yes" required class="required">
          Yes
        </label>
        <label class="radio">
          <input type="radio" name="radio_to_text" value="No">
          No
        </label>
      </div>
    </div>

    <div class="field">
      <label for="" class="label">Radio to Text 2 </label>
      <p>This displays as another set of Radio Button Options, though for simplicity the data is saved as Text.</p>
      <div class="control">
        <label class="radio">
          <input type="radio" name="radio_to_text_2" value="Yes">
          Agree
        </label>
        <label class="radio">
          <input type="radio" name="radio_to_text_2" value="No">
          Disagree
        </label>
      </div>
    </div>

    <div class="field">
      <label for="" class="label">Radio to Radio</label>
      <p>This displays as Radio Button Options, and saves the data as a radio options. The radio options must match the spelling, spacing, as it is set up in the collection.</p>
      <div class="control">
        <label class="radio">
          <input type="radio" name="radio_to_radio" value="Yes">
          Radio 1
        </label>
        <label class="radio">
          <input type="radio" name="radio_to_radio" value="No">
          Radio 2
        </label>
        <label class="radio">
          <input type="radio" name="radio_to_radio" value="No">
          Radio 3
        </label>
      </div>
    </div>

    <div class="field">
      <label for="" class="label">Radio to Radio 2</label>
      <p>This displays as another set of Radio Button Options, and saves the data as a radio options. The radio options must match the spelling, spacing, as it is set up in the collection.</p>
      <div class="control">
        <label class="radio">
          <input type="radio" name="radio_to_radio_2" value="Yes">
          Radio 1
        </label>
        <label class="radio">
          <input type="radio" name="radio_to_radio_2" value="No">
          Radio 2
        </label>
        <label class="radio">
          <input type="radio" name="radio_to_radio_2" value="No">
          Radio 3
        </label>
      </div>
    </div>

    <!-- <div class="field">
      <label for="datepicker_to_text" class="label">Datepicker to Text</label>
      <p>This uses the [plugin] plugin to show a datepicker, and saves the date as text.</p>
      <div class="control">
        [ datepicker ]
      </div>
    </div>

    <div class="field">
      <label for="datepicker_to_text" class="label">Datepicker to Text 2</label>
      <p>This uses the [plugin] plugin to show a datepicker, and saves the date as text.</p>
      <div class="control">
        [ datepicker ]
      </div>
    </div> -->

    <div class="field">
      <label class="label">Checkbox</label>
      <div class="control">
        <label class="checkbox">
          <input id="checkbox" type="checkbox">
          Checkbox
        </label>
      </div>
    </div>

    <div class="field">
      <label class="label">Checkbox 2</label>
      <div class="control">
        <label class="checkbox">
          <input id="checkbox_2" type="checkbox">
          Checkbox 2
        </label>
      </div>
    </div>

    <p id="form-error" class="hidden">Please fill in required fields.</p>

    <div class="field">
      <div class="control">
        <button class="button is-primary" onclick="validateForm()">Submit</button>
      </div>
    </div>


  </div>
</section>
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="/assets/scripts/contact.js"></script>