<section class="hero is-primary is-bold is-small">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle">Welcome to</h2>
      <h1 class="title">Test Queries</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="notification" style="margin-top: 30px;">
          <p>This makes:<br>
          <b>https://endtoend.airshipcms-beta.io/test-queries?platform=hootsuite</b> 
          <br>load 
          <br>
          <b>https://endtoend.airshipcms-beta.io/test-queries#platform=hootsuite</b>.<br><br></p>
          <p>Pattern: <b>/test-queries\?platform=hootsuite</b></p>
          <p>Destination: <b>/test-queries#platform=hootsuite</b></p>
        </div>
      </div>
    </div>
  </div>
</section>