{{> zoo-subnav}}

<section class="section">
  <div class="container">
    <h2 class="is-size-4-mobile is-size-3-tablet">&ldquo;Related Stuffed Animals&rdquo; Products:</h2>
    <p>Tests first related product collection on a page.</p>
    <div class="columns">
      {{#each related_items.related_stuffed_animals}}
        <a href="{{slug}}" class="column is-one-third">
          <div class="notification is-success">
            <h3>{{permalink}}</h3>
          </div>
        </a>
      {{/each}}
    </div>
    <p>Tests second related product collection on a page.</p>
    <div class="columns">
      {{#each related_items.second_related_stuffed_animals}}
        <a href="{{slug}}" class="column is-one-third">
          <div class="notification is-success">
            <h3>{{permalink}}</h3>
          </div>
        </a>
      {{/each}}
    </div>

    <h2 class="is-size-4-mobile is-size-3-tablet">&ldquo;Related Unstuffed Animals&rdquo; Posts:</h2>
    <p>Tests first related collection on a page.</p>
    <div class="columns">
      {{#each related_items.related_unstuffed_animals}}
        <a href="{{slug}}" class="column is-one-third">
          <div class="notification is-primary">
            <h3>{{permalink}}</h3>
          </div>
        </a>
      {{/each}}
    </div>
    <p>Tests second related collection on a page.</p>
    <div class="columns">
      {{#each related_items.second_related_unstuffed_animals}}
        <a href="{{slug}}" class="column is-one-third">
          <div class="notification is-primary">
            <h3>{{permalink}}</h3>
          </div>
        </a>
      {{/each}}
    </div>
    <!-- <div class="notification is-light">
      <p>To Do: Test multiple related collections &amp; product collections on a page, and no values set.</p>
    </div> -->
  </div>
</section>

<!-- content for title-block in layout -->
{{#content_for 'title-block' }}
  {{fields.header}}
{{/content_for}}
