<!-- PARTIAL USED within TEMPLATES.-->

<!-- Content blocks won't work here. If you want to use content blocks, this partial needs to be inserted into a layout. -->

<section class="hero
  {{#if collection}}
    {{#if collection.has_products}}
      is-success
    {{else}}
      is-primary
    {{/if}}
  {{else}}
    is-warning
  {{/if}}
">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{#if collection}}
          <!-- shows if collection -->
          {{collection.title}}

          {{#if categories}}
            {{#if slug}}
              <!-- shows if show.html -->
              &rsaquo; Item
            {{else}}
              <!-- shows if categories.html -->
              &rsaquo; Categories
            {{/if}}
          {{/if}}
          
          {{#if items}}
            {{#if category}}
              <!-- shows if category.html -->
              &rsaquo; {{category.title}} Category
            {{else}}
              <!-- shows if index.html -->
              &rsaquo; Index
            {{/if}}
          {{/if}}
  
        {{else}}
          <!-- shows if page -->
          {{name}}
        {{/if}}
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <nav class="subnav breadcrumb has-dot-separator is-small" aria-label="breadcrumbs">
      <ul class="
{{#if collection}}
  
  {{#if collection.has_products}}
    {{#if categories}}
      {{#if slug}}
        product-collection-show
      {{else}}
        product-collection-categories
      {{/if}}
    {{/if}}
  {{else}}
    {{#if categories}}
      {{#if slug}}
        collection-show
      {{else}}
        collection-categories
      {{/if}}
    {{/if}}
  {{/if}}
  
  {{#if collection.has_products}}
    {{#if items}}
      {{#if category}}
        product-collection-category
      {{else}}
        product-collection-index
      {{/if}}
    {{/if}}
  {{else}}
    {{#if items}}
      {{#if category}}
        collection-category
      {{else}}
        collection-index
      {{/if}}
    {{/if}}
  {{/if}}

{{else}}
  {{permalink}}
{{/if}}
      ">
        <li class="example-page"><a href="/example-page">page1</a></li>
        <li class="example-page-2"><a href="/example-page-2">page2</a></li>
        <li class="product-collection-index"><a href="/example-product-collection">pc1</a></li>
        <li class="product-collection-categories"><a href="/example-product-collection/categories">pc1-cats</a></li>
        <li class="product-collection-category"><a href="/example-product-collection/categories/category1">pc1-cat1</a></li>
        <li class="product-collection-show"><a href="/example-product-collection/view/product1">pc1-product1</a></li>
        <li class="collection-index"><a href="/example-collection">c1</a></li>
        <li class="collection-categories"><a href="/example-collection/categories">c1-cats</a></li>
        <li class="collection-category"><a href="/example-collection/categories/category1">c1-cat1</a></li>
        <li class="collection-show"><a href="/example-collection/view/item1">c1-item1</a></li>
        </ul>
    </nav>
  </div>
</section>

<hr>

<section class="section">
  <div class="container">
    <p class="is-size-7">This template 
    {{#if collection}}
      {{#if collection.has_products}}
        is the 

        {{#if categories}}
          {{#if slug}}
          <span class="tag is-success">show.html</span>
          {{else}}
          <span class="tag is-success">categories.html</span>
          {{/if}}
        {{/if}}
        {{#if category}}
          <span class="tag is-success">category.html</span>
        {{/if}}
        {{#if items}}
          {{#if category}}
          {{else}}
            <span class="tag is-success">index.html</span>
          {{/if}}
          {{#if slug}}
            <span class="tag is-success">show.html</span>
          {{else}}
          {{/if}}
        {{/if}}

        of a <span class="tag is-success">collection</span>

        {{#if category}}
          and <span class="tag is-success">lists all items in a single category</span>
        {{/if}}

        {{#if items}}
          and <span class="tag is-success">has many items</span>
        {{/if}}
        
        {{#if categories}}
          {{#if slug}}
            and <span class="tag is-success">is an item in a collection</span>
          {{else}}
            and <span class="tag is-success">lists all categories in the collection</span>
          {{/if}}
        {{/if}}

      {{else}}

        is the 

        {{#if categories}}
          {{#if slug}}
          <span class="tag is-primary">show.html</span>
          {{else}}
          <span class="tag is-primary">categories.html</span>
          {{/if}}
        {{/if}}
        {{#if category}}
          <span class="tag is-primary">category.html</span>
        {{/if}}
        {{#if items}}
          {{#if category}}
          {{else}}
            <span class="tag is-primary">index.html</span>
          {{/if}}
          {{#if slug}}
            <span class="tag is-primary">show.html</span>
          {{else}}
          {{/if}}
        {{/if}}

        of a <span class="tag is-primary">collection</span>

        {{#if category}}
          and <span class="tag is-primary">lists all items in a single category</span>
        {{/if}}

        {{#if items}}
          and <span class="tag is-primary">has many items</span>
        {{/if}}
        
        {{#if categories}}
          {{#if slug}}
            and <span class="tag is-primary">is an item in a collection</span>
          {{else}}
            and <span class="tag is-primary">lists all categories in the collection</span>
          {{/if}}
        {{/if}}

      {{/if}}
    {{else}}
    <span class="tag is-warning">is a page</span>
    {{/if}}
    .</p>
  </div>
</section>

{{#if collection}}
<!-- <hr> -->
<section class="section">
  <div class="container">
    <p class="is-size-7 has-text-grey-light">A list of categories can be shown from any template in this collection. Right now, this is only accessible within the collection (and not from pages/collections outside of this collection.
      {{#each collection.categories}}
        <a href="/{{../collection.public_path}}/categories/{{permalink}}">{{title}}</a>
      {{/each}}
    </p>
  </div>
</section>
{{/if}}