<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{#block 'title-block'}} Airship CMS {{/block}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <script src="/assets/scripts/navbar.js"></script>
  </head>
  <body>
    <nav class="navbar ">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          Example Site
        </a>

        <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="/">
            Home
          </a>
          <a class="navbar-item" href="/tiny-stuffed-animal-zoo">
            Tiny Zoo Experiments
          </a>
          <!-- <div class="navbar-item has-dropdown is-hoverable is-right">
            <a class="navbar-link  is-active" href="/blog">
              Blog
            </a>
            <div class="navbar-dropdown ">
              <a class="navbar-item" href="/blog">Blog</a>
              <a class="navbar-item" href="/blog/categories/food">Food</a>
              <a class="navbar-item" href="/blog/categories/lifestyle">Lifestyle</a>
              <a class="navbar-item" href="/blog/categories/personal">Personal</a>
              <a class="navbar-item" href="/blog/categories/events">Events</a>
              <a class="navbar-item" href="/blog/categories/news">News</a>
            </div>
          </div> -->
          <a class="navbar-item" href="/contact">
            Contact Form
          </a>
        </div>
      </div>
    </nav>

    {{{ template }}}
    
  </body>
</html>