{{> subnav}}

<section class="section">
  <div class="container">
    <h1>{{fields.header}}</h1>
    <p class="has-text-grey-light is-size-7">{{fields.description}}</p>
    <p class="has-text-grey-light is-size-7">
      {{#each categories}}
        {{this.permalink}} /
      {{/each}}
    </p>
    <p class="has-text-grey-light is-size-7">
      {{#each tags}}
        {{this.name}} /
      {{/each}}
    </p>
  </div>
</section>

<hr>

<section class="section">
  <div class="container">
    <div class="notification is-danger">
      <h1>aerostat_collection.title (deprecated): <b>{{aerostat_collection.title}}</b></h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <p>List this page's related_items for field named <b>Related Collection</b>. Items are pulled from <b>Example Collection</b>.</p>
    <div class="columns">
      {{#each related_items.related_collection}}
        <a href="{{slug}}" class="column is-one-third">
          <div class="notification is-primary">
            <h3>{{permalink}}</h3>
            <p>
              {{#each categories}}
                {{this.permalink}} /
              {{/each}}
            </p>
            <p>
              {{#each tags}}
                {{this.name}}
              {{/each}}
            </p>
          </div>
        </a>
      {{/each}}
    </div>
    <p>List this page's related_items for field named <b>Related Collection 2</b>. Items are pulled from <b>Example Collection</b>.</p>
    <div class="columns">
      {{#each related_items.related_collection_2}}
        <a href="{{slug}}" class="column is-one-third">
          <div class="notification is-primary">
            <h3>{{permalink}}</h3>
            <p>
              {{#each categories}}
                {{this.permalink}} /
              {{/each}}
            </p>
            <p>
              {{#each tags}}
                {{this.name}}
              {{/each}}
            </p>
          </div>
        </a>
      {{/each}}
    </div>
    <p>List this page's related_items for field named <b>Related Product Collection</b>. Items are pulled from <b>Example Product Collection</b>.</p>
    <div class="columns">
      {{#each related_items.related_product_collection}}
        <a href="{{slug}}" class="column is-one-third">
          <div class="notification is-success">
            <h3>{{permalink}}</h3>
            <p>
              {{#each categories}}
                {{this.permalink}} /
              {{/each}}
            </p>
            <p>
              {{#each tags}}
                {{this.name}}
              {{/each}}
            </p>
          </div>
        </a>
      {{/each}}
    </div>
    <p>List this page's related_items for field named <b>Related Product Collection 2</b>. Items are pulled from <b>Example Product Collection</b>.</p>
    <div class="columns">
      {{#each related_items.related_product_collection_2}}
        <a href="{{slug}}" class="column is-one-third">
          <div class="notification is-success">
            <h3>{{permalink}}</h3>
            <p>
              {{#each categories}}
                {{this.permalink}} /
              {{/each}}
            </p>
            <p>
              {{#each tags}}
                {{this.name}}
              {{/each}}
            </p>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
</section>


<!-- {{#if aerostat_collection.has_products}}
{{else}}
  <div class="notification is-danger">
    <p>Rendering Error: No Related Items show on this Collection Post</p>
  </div>
{{/if}} -->

<!-- TESTS RENDERING SUBSCRIPTIONS, reformat and also add to page.-->
<!-- <section>
  <div class="container">
    <h2 class="is-size-4-mobile is-size-3-tablet">&ldquo;Related Subscriptions&rdquo; Posts:</h2>
    <div class="columns">
      {{#each related_items.related_subscriptions}}
        <a class="column is-one-third" href="{{slug}}">
          <div class="notification is-primary">
            <h3>product_title: {{product_title}}</h3>
            <p>product_plan.stripe_data.amount: {{product_plan.stripe_data.amount}}</span></p>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="is-size-4-mobile is-size-3-tablet">&ldquo;Related Subscriptions&rdquo; Posts:</h2>
    <div class="columns">
      {{#each related_items.related_subscriptions}}
        <a class="column is-one-third" href="{{slug}}">
          <div class="notification is-primary">
            <h3>product_title: {{product_title}}</h3>
            <p>product_plan.stripe_data.amount: {{product_plan.stripe_data.amount}}</span></p>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
</section> -->

<!-- TESTS RENDERING SITE NAME, probably can delete.-->
<!-- <section>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="notification" style="margin-top:2rem">
          <div class="new-properties">
            <p>site_properties.name: <b>{{site_properties.name}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- HELP -->
<!-- <div class="airship-help-block section">
  <div class="container">
    <div class="notification is-light">
      <style>
        .notification li{
          list-style-type: disc;
          padding: 0 1rem;
        }
      </style>
      {{{help}}}
    </div>
  </div>
</div> -->

<!-- content for title-block in layout -->
{{#content_for 'title-block' }}
  {{fields.header}}
{{/content_for}}