<section class="section">
  <div class="container">
    <div class="columns">
      {{#each items}}
        <a href="{{slug}}" class="column is-one-third">
          <div class="notification is-success">
            <h2 class="is-size-4">{{product_title}}</h2>
            <ul>
              {{#each product_variations}}
                <li>{{product_variation_title}} - {{#if on_sale}}<span style="text-decoration: line-through;margin-right: 5px;opacity: 0.6;">{{format_currency price "usd" "2"}}</span>{{format_currency sale_price "usd" "2"}}{{else}}{{format_currency price "usd" "2"}}{{/if}}
                </li>
              {{/each}}
            </ul>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="notification" style="margin-top:2rem">
          <div class="new-properties">
            <p>site_properties.name: <b>{{site_properties.name}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>