.section{
  padding: 0 1.5rem;
}

.section.body-section{
  padding: 3rem 1.5rem;
}

p{
  margin-bottom: 1rem;
}

.notification.is-light{
  margin-bottom: 1rem;
}

.notification p{
  margin-bottom: 0.25rem;
}

.subnav{
  margin: 1rem 0;
}

ul{
  word-break: break-all;
}

ul.example-page li.example-page a,
ul.example-page-2 li.example-page-2 a{
  color: hsl(48, 100%, 67%);
}

ul.product-collection-index li.product-collection-index a,
ul.product-collection-categories li.product-collection-categories a,
ul.product-collection-category li.product-collection-category a,
ul.product-collection-show li.product-collection-show a,
.product-collection-link{
  color: hsl(141, 71%, 48%);
}

ul.collection-index li.collection-index a,
ul.collection-categories li.collection-categories a,
ul.collection-category li.collection-category a,
ul.collection-show li.collection-show a,
.collection-link{
  color: hsl(171, 100%, 41%);
}


.hidden {
	display: none;
}

form p{

}

form .field + .field{
  margin-top: 1.5rem;
}

#form-error,
#submission-message{
  margin-bottom: 2rem;
}

.column > .notification{

}

@media screen and (min-width: 769px){
  .columns{
    flex-wrap: wrap;
  }

  a.column{
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
  }

  a.column:hover > .notification{
    opacity: 0.9;
  }

  a.column .notification{
    flex: 0 0 100%;
  }
}

@media only screen and (min-width: 769px){
  form .notification{
    /*margin-top: 2rem;*/
  }
}

/* Sign In */

.signin-container{
  text-align: center;
}

.signin-container h1{
  font-size: 1.5em;
  /*margin-bottom: 0.5em;*/
}

.signin-container h3{
  margin-top: 2em;
  font-size: 0.8em;
  color: #AAA;
}

.signin-container h1 + p{
  margin-top: 1em;
}

.signin-container h3 + p{
  color: #AAA;
}

.signin-container h3 + p a{
  color: #AAA;
  border-bottom: 1px dashed #CCC;
  padding-bottom: 1px;
}

.signin-container p{
  margin: 0 auto 0;
  max-width: 300px;
}

.signin-container p.small{
  font-size: 0.8em;
}

.signin-container button.button,
.signin-container a.button{
  display: inline-block;
  margin: 1em auto 1em;
  min-width: 150px;
}